.navbar {
  background: rgb(255, 255, 255);
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #D6D6D6;
  margin-bottom: 4%;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  
}

.homepagelogo{
  height:80px;
  width: 150px;
  border: none;
  margin-right: 70px;
  margin-bottom: 10px;
  
}

.navbar-logo {
  color: #fff;
  justify-self: start;
  margin-left: 20px;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
}

.nav-menu {
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-gap: 10px;
  list-style: none;
  text-align: center;
  width: 70vw;
  justify-content: center;
  margin-right: 2rem;
}

.nav-item {
  display: flex;
  align-items: center;
  height: 80px;
}

.nav-links {
  color: rgb(0, 0, 0);
  text-decoration: none;
  padding: 0.5rem 1rem;
  font-family: 'Open Sans', sans-serif;

 
}

.nav-links:hover {
  border-bottom: 1px solid red;
  transition: all 0.2s ease-out;
}

.login{
  color:#D62310;
}





